*, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    background-color: #2f2d2d;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #9a9999;
    padding: 15px 50px;
    box-shadow: 0 1px 60px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav img {
    width: 200px;
    text-align: start;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: 600;
    padding: 8px 0;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav ul li a:hover {
    color: rgb(130, 124, 124);
    border-bottom: 2px solid rgb(0, 0, 0);
}

.icon-u {
    font-size: 28px;
    display: none;
}

@media only screen and (max-width: 768px) {
    nav {
        flex-wrap: wrap;
        margin-top: 0px;
        position: fixed;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
    }

    nav ul.hidden {
        display: none;
    }

    .icon-u {
        display: flex;
        align-items: center;
    }
}


.signup-container {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    margin: 100px auto; 
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
